<h1>Modifica Evento</h1>

<%= form_with model: @event, local: true do |form| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "errore") %> ha impedito il salvataggio dell'evento:</h2>
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, 'Nome Evento' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description, 'Descrizione' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :date, 'Data' %>
    <%= form.date_field :date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :time, 'Ora' %>
    <%= form.time_field :time, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :location, 'Luogo' %>
    <%= form.text_field :location, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :event_type_id, 'Tipologia Evento' %>
    <%= form.collection_select :event_type_id, EventType.all, :id, :name, class: 'form-control' %>
  </div>

  <div class="form-group d-flex justify-content-between">
  <%= form.submit 'Aggiorna Evento', class: 'btn btn-secondary' %>
  <%= link_to 'Torna alla Lista', events_path, class: 'btn btn-primary' %>
</div>
<% end %>
