<h1><%= @event.name %></h1>

<div class="table-responsive">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>Descrizione</th>
        <td><%= @event.description %></td>
      </tr>
      <tr>
        <th>Data</th>
        <td><%= @event.date.strftime("%d/%m/%Y") %></td>
      </tr>
      <tr>
        <th>Ora</th>
        <td><%= @event.time.present? ? @event.time.strftime("%H:%M") : 'Non specificata' %></td>
      </tr>
      <tr>
        <th>Luogo</th>
        <td><%= @event.location %></td>
      </tr>
    </tbody>
  </table>
</div>

<%= link_to 'Torna alla Lista', events_path, class: 'btn btn-primary mb-3' %>

<div>
  <% if @event.invitations.where(user: current_user).any? %>
    <% invitation = @event.invitations.find_by(user: current_user) %>
    <h3>Invito: 
      <% if invitation.status == 'accepted' %>
        <span class="text-success">ACCETTATO</span>
      <% elsif invitation.status == 'declined' %>
        <span class="text-danger">RIFIUTATO</span>
      <% else %>
        <span class="text-warning">IN ATTESA</span>
      <% end %>
    </h3>
    <%= link_to 'Modifica Stato Invito', edit_event_invitation_path(@event, invitation), class: 'btn btn-primary' %>
    <% if invitation.status != 'declined' %>
      <% if current_user.guests.any? %>
        <h2>I Miei Ospiti Registrati</h2>
        <ul>
          <% current_user.guests.each do |guest| %>
            <li>
              <%= guest.name %> <%= guest.surname %>
              <%= link_to 'Cancella', destroy_guest_event_participation_path(guest.event_participation, guest), method: :delete, data: { confirm: 'Sei sicuro di voler cancellare questo ospite?' }, class: 'btn btn-danger btn-sm' %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  <% else %>
    <h3>Invito: <span class="text-warning">Non ricevuto</span></h3>
  <% end %>  
</div>