<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th colspan="2" class="text-center"><h2 class="mb-2"><%= @event.name %></h2></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="col-2 text-white">Descrizione</th>
            <td><%= @event.description %></td>
          </tr>
          <tr>
            <th class="col-2 text-white">Data</th>
            <td><%= @event.date.strftime("%d/%m/%Y") %></td>
          </tr>
          <tr>
            <th class="col-2 text-white">Ora</th>
            <td><%= @event.time.present? ? @event.time.strftime("%H:%M") : 'Non specificata' %></td>
          </tr>
          <tr>
            <th class="col-2 text-white">Location</th>
            <td><%= @event.location %></td>
          </tr>
          <tr>
            <th class="col-2 text-white">Tipologia</th>
            <td><%= @event.event_type.present? ? @event.event_type.name : 'Non specificata' %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="mb-5">
    <%= link_to 'Modifica Evento', edit_event_path(@event), class: 'btn btn-secondary' %>
    <%= link_to 'Torna alla Lista', events_path, class: 'btn btn-primary' %>
  </div>

  <% if current_user.admin? %>
    <h2>Utenti e Ospiti Registrati</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Cognome</th>
          <th>Tipo</th>
          <th>Stato</th>
          <th>Invitato da</th>
          <th>Data Invio</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        <% @event.invitations.each do |invitation| %>
          <% if invitation.user %>
            <tr>
              <td><%= invitation.user.first_name %></td>
              <td><%= invitation.user.last_name %></td>
              <td>Utente</td>
              <td class="<%= invitation_status_class(invitation.status) %>"><%= invitation_status_text(invitation.status) %></td>
              <td>-</td>
              <td><%= invitation.sent_at.strftime("%d/%m/%Y %H:%M") if invitation.sent_at %></td>
              <td>
                <%= link_to 'Annulla Invito', event_invitation_path(@event, invitation), method: :delete, data: { confirm: 'Sei sicuro di voler annullare questo invito?' }, class: 'btn btn-danger btn-sm' %>
              </td>
            </tr>
            <% invitation.user.guests.each do |guest| %>
              <tr>
                <td><%= guest.name %></td>
                <td><%= guest.surname %></td>
                <td>Ospite</td>
                <td>-</td>
                <td><%= invitation.user.full_name %></td>
                <td></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h2>I Miei Ospiti Registrati</h2>
    <ul>
      <% current_user.guests.each do |guest| %>
        <li><%= guest.name %> <%= guest.surname %></li>
      <% end %>
    </ul>
  <% end %>
</div>
