<h1>Registra Ospiti</h1>

<%= form_with model: [@event, @participation], local: true, id: 'participation_form' do |form| %>
  <div id="guests_container">
    <div class="row mb-3 guest-fields">
      <div class="col-md-5">
        <div class="form-group">
          <%= form.label :name, 'Nome' %>
          <%= form.text_field :name, class: 'form-control', name: 'event_participation[guests_attributes][][name]' %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <%= form.label :surname, 'Cognome' %>
          <%= form.text_field :surname, class: 'form-control', name: 'event_participation[guests_attributes][][surname]' %>
        </div>
      </div>
    </div>
  </div>

  <%= form.submit 'Registra Ospiti', class: 'btn btn-primary' %>
<% end %>