<h1 class="mb-4">Gestione Utenti</h1>

<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Ruolo</th>
      <th>Azioni</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= user.role.name %></td>
        <td>
          <%= link_to edit_admin_user_path(user), class: 'btn btn-secondary btn-sm me-2' do %>
            <i class="bi bi-pencil"></i> Modifica
          <% end %>
          <%= link_to admin_user_path(user), method: :delete, data: { confirm: 'Sei sicuro?' }, class: 'btn btn-danger btn-sm me-2' do %>
            <i class="bi bi-trash"></i> Elimina
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nuovo Utente', new_admin_user_path, class: 'btn btn-primary' %>