<!DOCTYPE html>
<html>
<head>
  <title>Rotary Events</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %> <!-- Use this line for Importmap -->

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap Icons CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" rel="stylesheet">

  <!-- Bootstrap JS -->
  <script src="https://stackpath.amazonaws.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  <style>
    .navbar {
      height: 80px; /* Aumenta l'altezza della navbar */
      background-color: rgba(255, 255, 255, 0.8) !important; /* Colore bianco con trasparenza */
    }
    .navbar-brand img {
      height: 80px; /* Regola l'altezza del logo */
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <div class="container"> <!-- Utilizza la classe container per allineare il contenuto al centro -->
      <a class="navbar-brand" href="<%= root_path %>">
        <img src="<%= asset_path('Rotary_Logo_EN21taglio.png') %>" alt="Logo" style="height: 80px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <% if current_user && current_user.admin? %>
          <li class="nav-item">
                  <%= link_to 'Admin Dashboard', admin_dashboard_path, class: 'nav-link' %>
                </li
                <% end %>
              
              <li class="navbar-nav ms-auto">
                <% if user_signed_in? %>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <% if notice %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= notice %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= alert %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>